// Axshare navigation menu

- var axshare = []
- axshare.nav = []
  - axshare.nav[0] = []
    - axshare.nav[0].name = 'Inner pages'
    - axshare.nav[0].childs = []

      - axshare.nav[0].childs[0] = {}
        - axshare.nav[0].childs[0].name = 'Success stories'
        - axshare.nav[0].childs[0].childs = []

          - axshare.nav[0].childs[0].childs[0] = {}
            - axshare.nav[0].childs[0].childs[0].name = 'Автоматизация оформления отправок'
            - axshare.nav[0].childs[0].childs[0].url = '#'

          - axshare.nav[0].childs[0].childs[1] = {}
            - axshare.nav[0].childs[0].childs[1].name = 'Информационная интеграция'
            - axshare.nav[0].childs[0].childs[1].url = '#'

          - axshare.nav[0].childs[0].childs[2] = {}
            - axshare.nav[0].childs[0].childs[2].name = 'Единая технология доставки грузов'
            - axshare.nav[0].childs[0].childs[2].url = '#'

          - axshare.nav[0].childs[0].childs[3] = {}
            - axshare.nav[0].childs[0].childs[3].name = 'Исключительный груз'
            - axshare.nav[0].childs[0].childs[3].url = '#'

          - axshare.nav[0].childs[0].childs[4] = { name: 'Доставка в гипермаркеты Калькулятор', url: '#' }
            - axshare.nav[0].childs[0].childs[4][0] = { name: 'Доставка в гипермаркеты Калькулятор 2', url: '#' }
          - axshare.nav[0].childs[0].childs[5] = { name: 'Сортировка товаров Опросник', url: '#' }
          - axshare.nav[0].childs[0].childs[6] = { name: 'Хранение сезонных товаров Калькулятор', url: '#' }
            - axshare.nav[0].childs[0].childs[6][0] = { name: 'Хранение сезонных товаров Калькулятор 2', url: '#' }
          - axshare.nav[0].childs[0].childs[7] = { name: 'Система «Донор» Опросник', url: '#' }
            - axshare.nav[0].childs[0].childs[7][0] = { name: 'Система «Донор» Опросник 2', url: '#' }

      - axshare.nav[0].childs[1] = {}
        - axshare.nav[0].childs[1].name = 'Services'
        - axshare.nav[0].childs[1].childs = []

          - axshare.nav[0].childs[1].childs[0] = {}
            - axshare.nav[0].childs[1].childs[0].name = 'Индивидуальная логистика'
            - axshare.nav[0].childs[1].childs[0].url = '#'

          - axshare.nav[0].childs[1].childs[1] = {}
            - axshare.nav[0].childs[1].childs[1].name = 'Совместные технологические проекты'
            - axshare.nav[0].childs[1].childs[1].url = '#'

          - axshare.nav[0].childs[1].childs[2] = {}
            - axshare.nav[0].childs[1].childs[2].name = 'Priority service'
            - axshare.nav[0].childs[1].childs[2].url = '#'

          - axshare.nav[0].childs[1].childs[3] = {}
            - axshare.nav[0].childs[1].childs[3].name = 'Integration информационных систем'
            - axshare.nav[0].childs[1].childs[3].url = '#'

    - axshare.nav[1] = {}
      - axshare.nav[1].name = 'Calculator of direction'
