// Axshare navigation menu

- var axshare = []
- axshare.nav = []
  
  - item = {}
    - item.name = 'Inner pages'
    - item.childs = []
  - axshare.nav[0] = item

      - item = {}
        - item.name = 'Success stories'
        - item.childs = []
      - axshare.nav[0].childs[0] = item

          - item = {}
            - item.name = 'Autonation of delivery'
            - item.url = '#'
          - axshare.nav[0].childs[0].childs[0] = item

          - item = {}
            - item.name = 'Information integration'
            - item.url = '#'
          - axshare.nav[0].childs[0].childs[1] = item

          - item = {}
            - item.name = 'United techology of delivering of shipments'
            - item.url = '#'
          - axshare.nav[0].childs[0].childs[2] = item
            
          - item = {}
            - item.name = 'Exceptional shimpents'
            - item.url = '#'
          - axshare.nav[0].childs[0].childs[3] = item
          
          - item = {}
            - item.name = 'Delivery to hypermarkets'
            - item.url = '#'
            - item.childs = []
          - axshare.nav[0].childs[0].childs[4] = item
            
            - item = {}
              - item.name = 'Доставка в гипермаркеты Калькулятор 2'
              - item.url = '#'
            - axshare.nav[0].childs[0].childs[4].childs[0] = item
            
          - item = {}
            - item.name = 'Сортировка товаров Опросник'
            - item.url = '#'
          - axshare.nav[0].childs[0].childs[5] = item
          
          - item = {}
            - item.name = 'Хранение сезонных товаров Калькулятор'
            - item.url = '#'
          - axshare.nav[0].childs[0].childs[6] = item
          
            - item = {}
              - item.name = 'Хранение сезонных товаров Калькулятор 2'
              - item.url = '#'
            - axshare.nav[0].childs[0].childs[6][0] = item
          
          - item = {}
            - item.name = 'Система «Донор» Опросник'
            - item.url = '#'
          - axshare.nav[0].childs[0].childs[7] = item
          
            - item = {}
              - item.name = 'Система «Донор» Опросник 2'
              - item.url = '#'
            - axshare.nav[0].childs[0].childs[7][0] = item

      - item = {}
        - item.name = 'Services'
        - item.childs = []
      - axshare.nav[0].childs[1] = item

          - item = {}
            - item.name = 'Individual logistic'
            - item.url = '#'
          - axshare.nav[0].childs[1].childs[0] = item

          - item = {}
            - item.name = 'Common techo projects'
            - item.url = '#'
          - axshare.nav[0].childs[1].childs[1] = item

          - item = {}
            - item.name = 'Priority service'
            - item.url = '#'
          - axshare.nav[0].childs[1].childs[2] = item

          - item = {}
            - item.name = 'Integration of information systems'
            - item.url = '#'
          - axshare.nav[0].childs[1].childs[3] = item

    - item = {}
      - item.name = 'Calculator of direction'
    - axshare.nav[1] = item
