// Axshare navigation menu

- var axshare = []
- axshare.nav = []
  - axshare.nav[0] = {}
    - axshare.nav[0].name = 'Inner pages'

      - axshare.nav[0][0] = { name: 'Success stories' }
        - axshare.nav[0][0][0] = { name: 'Автоматизация оформления отправок', url: '#' }
        - axshare.nav[0][0][1] = { name: 'Информационная интеграция', url: '#' }
        - axshare.nav[0][0][2] = { name: 'Единая технология доставки грузов', url: '#' }
        - axshare.nav[0][0][3] = { name: 'Исключительный груз', url: '#' }
        - axshare.nav[0][0][4] = { name: 'Доставка в гипермаркеты Калькулятор', url: '#' }
          - axshare.nav[0][0][4][0] = { name: 'Доставка в гипермаркеты Калькулятор 2', url: '#' }
        - axshare.nav[0][0][5] = { name: 'Сортировка товаров Опросник', url: '#' }
        - axshare.nav[0][0][6] = { name: 'Хранение сезонных товаров Калькулятор', url: '#' }
          - axshare.nav[0][0][6][0] = { name: 'Хранение сезонных товаров Калькулятор 2', url: '#' }
        - axshare.nav[0][0][7] = { name: 'Система «Донор» Опросник', url: '#' }
          - axshare.nav[0][0][7][0] = { name: 'Система «Донор» Опросник 2', url: '#' }

      - axshare.nav[0][1] = {}
        - axshare.nav[0][1].name = 'Services'
          - axshare.nav[0][1][0] = {}
            - axshare.nav[0][1][0].name = 'Индивидуальная логистика'
            - axshare.nav[0][1][0].url = '#'
          - axshare.nav[0][1][1] = { name: 'Совместные технологические проекты', url: '#' }
          - axshare.nav[0][1][2] = { name: 'Приоритетное обслуживание', url: '#' }
          - axshare.nav[0][1][3] = { name: 'Интеграция информационных систем', url: '#' }

    - axshare.nav[1] = {}
      - axshare.nav[1].name = 'Calculator of direction'
