
mixin list( obj )
  ul.axshare-page-list
    each val in obj
      - var url = '/' + val.url
      if val.name
        li.axshare-page-list__item
          a.axshare-page-link.axshare-text-easy(href= url)= val.name
          if val.childs
            +list( val.childs )


// Ul {}
if axshare.nav
  .axshare-page-nav
    .icon-menu-wrapper
      i.icon-menu
    +list( axshare.nav )
