/*------- Navigation -------*/

.axshare-page-nav
  position fixed
  background #ffffff
  width 50px
  top 0
  box-shadow 12px 0 20px rgba(0, 0, 0, .15)
  height 100%
  z-index 1000
  overflow-x hidden
  overflow-y auto
  &:hover
    width auto

.axshare-page-list
  overflow hidden
  padding 5px 15px 25px
  width 400px
  margin 0
  display block
  .axshare-page-list
    padding 2px 0 5px 20px

.axshare-page-list__item
  list-style none
  display block
  font-size 13px

.axshare-page-link
  display inline-block
  margin 0

.axshare-page-text
  margin 0

.axshare-page-nav__icon
  padding 0 0 0 15px
  margin 5px 0 0 0
  display block
