/*------- Typography -------*/

.axshare-text-easy {
  font-family: 'Arial', 'sans-serif';
  font-size: 14px;
  color: $very-dark-gray-mostly-black;
  font-weight: 400;
}

.axshare-text-easy:hover {
  text-decoration: none;
}