html
   head
      meta(charset= 'utf-8')
      link(rel= 'stylesheet', type= 'text/css', href= 'axshare-nav.css')


   body
      block axshare-nav
         include /jade/axshare-nav.example.jade
         include /jade/nav-constructor
