html
  head
    meta(charset= 'utf-8')
    link(rel= 'stylesheet', type= 'text/css', href= 'css/axshare-nav.css')


  body
    block axshare-nav
      include /includes/axshare-nav.example.jade
      include /axshare-nav
