// Page menu
block topnavigation
  - var axshare = []
  - axshare.nav = []
    - axshare.nav[0] = { child: true, name: 'Внутренние страницы' }

      - axshare.nav[0][0] = { name: 'Истории успеха', child: true }
        - axshare.nav[0][0][0] = { name: 'Автоматизация оформления отправок', url: 'success-stories/automation-of-origin-shipments.html' }
        - axshare.nav[0][0][1] = { name: 'Информационная интеграция', url: 'success-stories/information-integration.html' }
        - axshare.nav[0][0][2] = { name: 'Единая технология доставки грузов', url: 'success-stories/unified-technology-of-delivering-freight.html' }
        - axshare.nav[0][0][3] = { name: 'Исключительный груз', url: 'success-stories/exceptional-load.html' }
        - axshare.nav[0][0][4] = { name: 'Доставка в гипермаркеты Калькулятор', url: 'success-stories/delivery-in-hypermarkets-calculator/', child: true }
          - axshare.nav[0][0][4][0] = { name: 'Доставка в гипермаркеты Калькулятор 2', url: 'success-stories/delivery-in-hypermarkets-calculator/delivery-in-hypermarkets-calculator-2.html' }
        - axshare.nav[0][0][5] = { name: 'Сортировка товаров Опросник', url: 'success-stories/sort-items-questionnaire.html' }
        - axshare.nav[0][0][6] = { name: 'Хранение сезонных товаров Калькулятор', url: 'success-stories/storing-seasonal-items-calculator/', child: true }
          - axshare.nav[0][0][6][0] = { name: 'Хранение сезонных товаров Калькулятор 2', url: 'success-stories/storing-seasonal-items-calculator/storing-seasonal-items-calculator-2.html' }
        - axshare.nav[0][0][7] = { name: 'Система «Донор» Опросник', url: 'success-stories/system-donor-questionnaire/', child: true }
          - axshare.nav[0][0][7][0] = { name: 'Система «Донор» Опросник 2', url: 'success-stories/system-donor-questionnaire/system-donor-questionnaire-2.html' }

      - axshare.nav[0][1] = { name: 'Сервисы', child: true }
        - axshare.nav[0][1][0] = { name: 'Индивидуальная логистика', url: 'services/individual-logistics.html' }
        - axshare.nav[0][1][1] = { name: 'Совместные технологические проекты', url: 'services/joint-technological-projects.html' }
        - axshare.nav[0][1][2] = { name: 'Приоритетное обслуживание', url: 'services/priority-service.html' }
        - axshare.nav[0][1][3] = { name: 'Интеграция информационных систем', url: 'services/integration-of-information systems.html' }

    - axshare.nav[1] = { name: 'Калькулятор направлений' }



  include nav-constructor