
// Ul li {}
mixin list( obj )
  if obj.name != undefined
    if obj.name.length > 0
      li.axshare-page-list__item
        if obj.url
          - var attributes = { 'href': '/' + obj.url }
        else
          - var attributes = ''
        a.axshare-page-link.axshare-text-easy&attributes( attributes )= obj.name


// Ul {}
if header
  if header.pageNav

    .axshare-page-nav

      each val, index in header.pageNav
        - var current = index

        if header.pageNav[ current ]
          ul.axshare-page-list
            each val, index in header.pageNav[ current ]
              - var deepCurrent = index

              +list( val )

              if header.pageNav[ current ][ deepCurrent ]
                ul.axshare-page-list.axshare-page-list_second-level

                  each val, index in header.pageNav[ current ][ deepCurrent ]
                    - var moreDeepCurrent = index

                    +list( val )

                    if header.pageNav[ current ][ deepCurrent ][ moreDeepCurrent ]
                      ul.axshare-page-list.axshare-page-list_second-level

                        each val, index in header.pageNav[ current ][ deepCurrent ][ moreDeepCurrent ]
                          - var moreMoreDeepCurrent = index

                          +list( val )
