
mixin list( obj )
  ul.axshare-page-list
    each val in obj
      if val.name
        li.axshare-page-list__item
          if val.url
            - var url = '/' + val.url
          a.axshare-page-link.axshare-text-easy(href= url)= val.name
            if val[0]
              +list( val )


// Ul {}
if axshare.nav
  .axshare-page-nav
    +list( axshare.nav )
